*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #091921;
  position: relative;
}
body.light {
  background-color: #f5f5f5;
}
#clock {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  position: relative;
  border: 15px solid #091921;
  background-image: url("clock.png");
  background-size: cover;
  box-shadow: 0 -15px 15px rgba(255, 255, 255, 0.05),
    inset 0 -15px 15px rgba(225, 225, 225, 0.05), 0 15px 15px rgba(0, 0, 0, 0.3),
    inset 0 15px 15px rgba(0, 0, 0, 0.3);
}
body.light #clock {
  border: none;
  box-shadow: inset 20px 20px 20px rgba(0, 0, 0, 0.05),
    5px 25px 20px rgba(0, 0, 0, 0.05), 5px 20px 30px rgba(0, 0, 0, 0.05),
    inset -20px -20px 25px rgba(255, 255, 255, 0.9);
}
#clock::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}
#clock::after {
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 900;
}
body.light #clock::after {
  background-color: #00b3ff;
}
.hour-hand,
.minute-hand,
.second-hand {
  background-color: #000;
  position: absolute;
  left: 50%;
  transform-origin: 50% 100%;
  transform: translate(-50%);
  border-radius: 50%;
  z-index: 10;
}
.hour-hand {
  height: 30%;
  width: 6px;
  background-color: #ff105e;
  top: 18%;
}
body.light .hour-hand {
  background-color: #ff006f;
}
.minute-hand {
  height: 35%;
  width: 4px;
  top: 15%;
}
body.light .minute-hand {
  background-color: #00b3ff;
}
.second-hand {
  width: 2px;
  height: 50%;
  top: 10%;
  transform-origin: 50% 80%;
  background-color: #fff;
}
body.light .second-hand {
  background: rgba(0, 0, 0, 0.6);
}
.toogleClass {
  position: absolute;
  display: flex;
  gap: 10px;
  align-items: center;
  top: 5%;
  right: 5%;
  font-family: sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  cursor: pointer;
  letter-spacing: 1px;
  color: #fff;
}
.toogleClass .bullet {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
}
